body{
    margin: 0 auto;
}

@media screen and (max-width: 1440px){
    .feca{
        display: none;
    }

    .hero-mobile{
        height: 100%;
        width: 100%;
       
    }

    .textcontainer{
      display: column;
      text-align: center; 
      padding-top: 1rem;
    }

    .textcontainer button{
        margin-bottom: 1rem ;
    }

    .relo{
        display: none;
    }

    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 1rem;
    }
    .hero-desktop{
        display: none;
    }
    .give img{
        padding-bottom: 10rem;
    }
    .para {
        /* border: 2px solid black;
        background-color: black; */
        color: white;
        display:flex;
        flex-direction: row;
        /* align-items: center; */
        justify-content: center;
        
    }
    .para button {
        /* text-align: center; */
        padding: 1rem;
    }
/* 
    button{
        color: white;
        background-color: black;
        border-radius: 10px;
        mask-border-repeat: 2px;
        
    } */

    .container{
        display: flex;
        flex-direction: column-reverse;
      
    }

}

@media screen and (min-width:786px){
    .hero-mobile{
        display: none;
    }
}